@yellow : #fffa19;
@red: #fc033d;
@green: #03fc17;

.margenes(@top:0px,@bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    background-image: url("../imagenes/quito.jpg");
    background-repeat: repeat-x;
    .margenes(50px, 0px);

}
  
  footer {
    padding: 10px 10px 0px 10px;
    background-color:@yellow;
    margin-bottom: 0px;
    margin-top: 10px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .navbar-collapse.collapse.show {
    text-align: right; }
  
  .address-central p span {
    margin-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }