.jumbotron {
  background-color: #fffa16;
  color: black;
  background-image: url("../imagenes/quito.jpg");
  background-repeat: repeat-x;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa16;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.navbar-collapse.collapse.show {
  text-align: right;
}

.address-central p span {
  margin-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
